body {
  font-family: 'Oswald', sans-serif;
  background-color: #282c34;
}
.submitButton {
  display: none;
}
.searchbox {
  width: 45%;
  height: 35px;
  border-radius: 4px;
  background-color: #14171b;
  border-style: none;
  color: white;
}
.searchbox:focus {
  box-shadow: 0px 0px 10px 2px #191c20;
  outline: none;
}
.searchbox:hover {
  box-shadow: 0px 0px 10px 2px #191c20;
}
#searchDiv {
  padding-top: 60px;
  text-align: center;
}
#clockbox {
  margin-top: 215px;
  font-size: 8em;
  text-align: center;
  color: #14171b;
}
table {
  margin-top: 85px;
  width: 45%;
  height: 200px;
}
td {
  width: 33%;
  font-size: 2em;
  text-align: center;
}
td:hover {
  background-color: #a0293d;
}
a, a:visited {
  color: #14171b;
  text-decoration: none;
}
